html,
body {
  box-sizing: border-box;
  background: linear-gradient(to left, lightblue 20%, white 75%);
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: center;
  background-color: gray;
  height: 100px;
  width: 80%;
  margin: auto;
  position: relative;
}

header a {
  display: block;
  padding: 1em;
  background-color: lightcoral;
  position: absolute;
  right: -20px;
  top: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: green;
  justify-content: flex-start;
}

nav a {
  padding: 1em 1em 0;
  margin: 1em 2em 0;
  background-color: lightcoral;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1em;
}

aside a {
  padding: 1em 1em 0;
  margin: 1em 1em 0;
  background-color: lightcoral;
}

section {
  width: 80%;
  background-color: white;
  padding: 15em;
  margin: 1em;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  justify-content: flex-start;
}

footer a {
  background-color: lightcoral;
  padding: 1em;
  margin: 1em 2em 1em;
}
