<div class="sampleFormBox">
    <form action="../../controller/processCatUpdate.php" method="POST">
    <fieldset>  
        <legend>Update Category</legend>
        <label for catID=>Which category ID would you like to update?</label>
        <input type="text" name="catID" required>
        <label for catName=>New value for Category</label>
        <input type="text" name="catName">
        <label for catDesc=>New value for Description</label>
        <input type="text" name="catDesc">
        <input type="submit">
    </fieldset>
    </form>
</div>